.appt-dash-can {
    background-color: #F8F8F8;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 350px;
}

.appt-main-container {
    background-color: white;
    margin: 25px auto;
    width: 90%;
    overflow: auto;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.appt-cells {
    display: flex;
    flex-direction: row;
    border-top: 2px solid;
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}

.appt-cell-one {
    margin: 16px;
    min-width: 400px;
    /* border-right: 1px solid gray; */
}

.appt-cell-two {
    margin: 16px;
    min-width: 300px;
    /* border-right: 1px solid gray; */
}

.appt-cell-three {
    padding: 16px;
    min-width: 300px;
    /* border-right: 1px solid gray; */
    word-break: break-word;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.appt-cell-four {
    padding: 16px;
    min-width: 300px;
    /* border-right: 1px solid gray; */
    word-break: break-word;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
}

.appt-cell-five {
    min-width: 300px;
    /* border-right: 1px solid gray; */
    word-break: break-word;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
}

.appt-dropform {
    display: inline;
}

.facility-label {
    color: red,
}

.appt-update-btn {
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    color:black;
    padding: 10px;
    font-size:15px;
    height: 50%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    min-width: 80px;
}

.appt-edit-container {
    padding: 5px;
    display: flex;
    align-items: center;
    border-top: 3px dotted white;
}
.appt-edit {
    display: flex;
    align-items: center;
}

.appt-edit-container > p {
    padding-left: 10px;
}

.appt-edit-container > form {
    padding-left: 10px;
}

.appt-edit-subcontainer {
    min-width: 300px;
}

.inputLabel {
    text-align: center;
    font-size: 15px; 
}

.inputField {
    font-size: 15px;
    width: 150px;
    height: 30px;
    
}

.datePicker {
    font-size: 15px;
    max-height: 30px;
}

.customDatePickerWidth, 
.customDatePickerWidth > div.react-datepicker-wrapper, 
.customDatePickerWidth > div > div.react-datepicker__input-container
.customDatePickerWidth > div > div.react-datepicker__input-container input {
   width: 90%;
   
}