.schedule-page-contents {
  width: 100%;
  height: 100%;
}

.provider-info {
  margin: 20px;
}

.provider-links {
  margin: 20px;
}

.appt-link {
  margin-top: 20px;
}

.doc-profile {
  background-color: white;
  display: flex;
}
  
.profile-container {
  border-radius: 10px;
  margin: auto;
}

.doc-text {
  display: flex;
}

.name {
  display: flex;
  font-size: 65px;
  color: #1a1a1a;
}

.email {
  font-size: 20px;
  color: #666666;
}

.loading {
  font-size: 24px;
  color: #666666;
  text-align: center;
  margin-top: 100px;
}
  