.space-can {
  width: 50%;
  margin: 0px auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.nf-title {
  text-align: center;
  margin: 10px;
}

.nf-text {
  text-align: justify;
  padding: 5px;
}
