.records-page {
  width: 50%;
  background-color: white;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  overflow-y: scroll;
  gap: 2rem;
}

.records-patient-page {
  width: 50%;
  background-color: white;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  overflow-y: scroll;
  gap: 2rem;
}

.records-records-section {
  width: 100%;
  background-color: white;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  overflow-y: scroll;
  gap: 2rem;
}

.records-patient-section {
  width: 80%;
  background-color: white;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  overflow-y: scroll;
  gap: 2rem;
}

.records-page-header {
  width: 100%;
  border-bottom: 2px solid;
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}

.records-header-text {
  text-align: start;
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
  font-weight: 500;
  margin: 1rem;
}

.dhome-records-container {
  display: flex;
  width: 91.666667%;
  justify-content: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  flex-direction: column;
  gap: 1.5rem;
}

.records-horizon-con {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
}

.records-page-content {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

.form-can {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.img-big-can {
  width: 80%;
  margin: 25px auto;
  padding: 10px 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.img-can {
  width: 30%;
  min-width: 270px;
  height: 225px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: #111 solid 1px;
  border-radius: 5px;
  background-color: #111;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.rec-bottom-half {
  display: flex;
  height: 20%;
}

.rec-btn-opt {
  min-width: 85px;
  display: flex;
  justify-content: space-between;
}

.doc-rec-btn-opt {
  min-width: 85px;
  display: flex;
  justify-content: flex-end;
}

.doc-img-big-can {
  width: 100%;
  margin: 25px auto;
  padding: 10px 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.doc-img-no-can {
  display: none;
}

.rec-delete-opt {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.trash-icon {
  color: #222;
}

.trash-icon:hover {
  color: rgb(230, 91, 75);
}

.view-btn-opt {
  padding: 3px 6px;
}

.file-title {
  height: 100%;
  width: 100%;
  border-top: #111 1px solid;
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.file-input-box {
  width: 80%;
  border: goldenrod solid 1px;
  background-color: white;
  margin-bottom: 0%;
}

.file-image-upload {
  width: 80%;
  margin-bottom: 0%;
  border: goldenrod solid 1px;
}

.records-patient-button {
  color: #fff;
  background-color: #003594;
  border-color: #003594;
  padding: 4px 20px 4px 20px;
  display: inline-block;
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  font-weight: bold;
  border-radius: 0.25rem;
}

.records-patient-button:hover {
  background-color: goldenrod;
  color: #003594;
}

.upload-header {
  margin: 0 0 25px;
}

.patient-list-header {
  font-size: 15pt;
  text-decoration: underline 1px;
}

.upload-prev {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.no-pics {
  min-width: 80%;
  min-height: 250px;
  border: #b3b3b3 5px dashed;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phi-header {
  text-align: center;
  padding-top: 25px;
}

.patientIDs {
  font-size: 8pt;
}

.patient-tag {
  width: 30%;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border: 1px solid;
  --tw-border-opacity: 1;
  border-color: goldenrod;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px;
}

.the-experiment {
  display: flex;
  width: 95%;
  height: 100%;
  margin: 0px auto;
  flex-direction: column;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.doctor-records-view {
  min-width: 80%;
  min-height: 250px;
  border: #b3b3b3 5px dashed;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.all-invoices {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 0 24px;
  gap: 2rem;
}

.invoice-cards-can {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 1rem;
}

.invoice-cards {
  background-color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  min-width: 350px;
  width: 100%;
  border-radius: 0px;
  border-bottom: 2px solid;
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}

.invoice-section-header {
  font-size: 35pt;
  margin: 50px 0;
  padding-top: 25px;
  font-weight: 600;
  background-color: white;
}

.each-card-header-can {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.each-card-header {
  font-size: 18px;
  font-weight: bold;
  width: 50%;
}


.cta-can {
  display: flex;
  margin-top: 16px;
}

.cta-btn {
  color: #111;
  border: #111 solid 1pt;
  background-color: goldenrod;
  margin: 0 auto;
  width: 50%;
}

.cta-btn:hover {
  background-color: #061237;
}

.card-text {
  margin: 16px 0;
}

.card-title {
  margin: 16px 0;
  font-size: 20px;
}

.card-text:last-child {
  margin-bottom: 16px;
}

.inv-meta-can {
  display: flex;
  flex-direction: column;
}

.invoice-date-can {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 2px solid;
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}

.invoice-date {
  width: 50%;
}

.invoice-page-can {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 2px solid;
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}

.invoice-page-title {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.invoice-page-message {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.invoice-header-can {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mark-paid-btn {
  background-color: #003594;
  color: white;
}

.mark-paid-btn:hover {
  background-color: goldenrod;
  color: #003594;
}

.hr-divider-can {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 50px auto;
}

.hr-divider-line {
  width: 90%;
  margin-right: 10px;
}

.hr-divider-line-solo {
  width: 100%;
  margin: 75px auto 0;
}

.no-pics {
  margin: 50px auto;
  min-width: 80%;
  min-height: 250px;
  border: #b3b3b3 5px dashed;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.invoice-can {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.invoice-page-section {
  width: 90%;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.invoice-page-header {
  width: 100%;
  border-bottom: 2px solid;
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}

.create-invoice-label {
  font-weight: normal;
  font-size: large;
}

.create-invoice-input {
}

.message-form-can {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  min-width: 370px;
  max-width: 900px;
  width: 100%;
  padding: 25px;
}

.message-form-can > select,
.message-form-can > input {
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  background-color: #ccc;
  border-radius: 5px;
}

.msg-txt-area {
  min-height: 150px;
  margin-bottom: 25px;
  padding: 10px;
}

.create-invoice-buttons {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.inv-link-btn {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #003594;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #003594;
  text-align: center;
  width: 100%;
}

.inv-link-btn:hover {
  background-color: goldenrod;
  color: #003594;
  font-weight: bold;
}

.msg-submit-btn,
.msg-clear-btn {
  gap: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #003594;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #003594;
  text-align: center;
  width: 100%;
}

.msg-submit-btn:hover,
.msg-clear-btn:hover {
  background-color: goldenrod;
  color: #003594;
  font-weight: bold;
}

.invoice-create-hdr {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .form-can {
    width: 90%;
    margin: 0 auto;
  }

  .img-can {
    width: 95%;
  }

  .img-big-can {
    margin: 15px 15px;
    width: 90%;
    justify-content: center;
  }

  .records-patient-page {
    width: 80%;
  }

  .all-invoices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .invoice-page-section {
    width: 90%;
  }

  .cta-can {
    justify-content: center;
  }

  .message-form-can {
    margin: 0;
    justify-content: center;
    padding: 0;
  }

  .records-patient-section {
    width: 90%;
  }

  .records-patient-page {
    width: 90%;
  }

  .card-body {
    width: 100%;
  }

  .invoice-cards-can {
    overflow-x: hidden;
  }

  .inv-link-btn {
    width: 80%;
  }
}
