.settings-main-container {
    width: 95%;         
    margin: 90px auto;     
    box-sizing: border-box; 
    padding: 30px;     
    border-radius: 10px; 
    background-color: white;
    overflow:auto;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.top-row { 
    box-shadow: 0 5px 2px -2px gray;    
}

.select-label {

}