.settings-page-can {
    background-color: #F8F8F8;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 350px;
}

.settings-main-container {
    background-color: white;
    margin: 25px auto;
    width: 90%;
    overflow: auto;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.settings-top-header {
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
    margin: 1rem 0rem 1rem 1rem;
}

.settings-top-row { 

}

.settings-content {
}

.settings-header {
    padding: 16px 16px;
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
    border-top: 2px solid;
    border-bottom: 2px solid;
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}
.select-label {

}

.update-settings-button {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    align-items: center;
    border: none;
    font-size: 20px;
    color: #FFF;
    padding: 8px 24px;
    background-color: #003594;
    border-radius: 6px;
    margin: 0px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.update-settings-button:hover{
    background: goldenrod;
    color: #003594;
    font-weight: bold;
}

.settings-1 {
    display: flex;
    padding: 2rem;
    gap: 4.0rem;
}
.settings-2 {
    display: flex;
    padding: 2rem;
    gap: 4.0rem;
}
.settings-3 {
    display: flex;
    padding: 2rem;
    gap: 4.0rem;
}

.settings-1-section-2 {
    display: flex;  
}

.settings-dob {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
}

.settings-dob-input {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}


@media screen and (max-width: 800px) { 
    .settings-top-header {
        margin: 1rem 0.5rem;
    }

    .settings-main-container {
        width:90%;
        height: 90%;
    }
    .settings-1 {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        gap: 2.0rem;
    }
    .settings-2 {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        gap: 2.0rem;
    }
    .settings-3 {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        gap: 2.0rem;
    }

    .settings-1-section-2 {
        flex-direction: column;
    }

    .settings-dob {
    }

    .settings-dob-input {
        margin-left: 0%;
        margin-right: 0%;
    }
    
}