.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(whitesmoke, rgb(170, 170, 170));
}

.signup-form-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 45px;
}

h3 {
  text-align: center;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
  font-size: 13pt;
}

h5 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
  font-weight: bold;
  font-size: 10pt;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button.signup-button {
  background-color: #003594;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.signup-button:hover {
  background-color: #0a2061;
}

button.signup-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error {
  color: #ff0000;
  margin-top: 10px;
  text-align: center;
}

.switch-section-container {
  display: flex;
  justify-content: center;
  max-width: 400px;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.switch-section p {
  margin: 10px;
}

.switch-link {
  color: goldenrod;
  text-decoration: none;
  font-weight: bold;
}

.switch-link:hover {
  color: darkgoldenrod;
}

.git-link {
  text-align: center;
  margin-top: 20px;
}

.git-link-click {
  color: goldenrod;
  text-decoration: none;
  font-weight: bold;
}

.git-link-click:hover {
  color: darkgoldenrod;
}


/* Media query for mobile view */
@media only screen and (max-width: 800px) {
  .signup-container {
    height: 100vh;
  }

  .signup-form-container,
  .switch-section-container {
    max-width: 100%;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
  }

  .mobile-display {
    display: none;
  }
}
